<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/chat_box.css">
<div id="home-container">


    <section id="feed-posts">
        <h1 style="text-align:center;"> <%=title%></h1>
        <h4 style="text-align:center;">Posts</h4>
        <% if (locals.user) {%>
        <form action="/posts/create" method="post"  id="new-post-form">
            <img src="<%=locals.user.avatar%>" alt="<%=locals.user.name%>">  
            <textarea name="content"  cols="60" rows="4" placeholder="What's in your mind <%=locals.user.name%> !? Share it with your friends " required></textarea>
            <!-- <input type="file" name="post_media" placeholder="Post Picture"> -->
            <br>
            <input type="submit" value="Post">
        </form>
    <%}%>
        <div id="posts-list-container">
            <ul>
                <% for (post of posts) {%>
                <%- include('_post') -%>
                <%}%>
            </ul>

        </div>
    </section>
    <% if (locals.user) {%>
    <section id="users-friends">
        <div class="my-friends">
           
            <h4>Friends</h4>
           <%if (loginuser.friends.length>0){ 
            for (dp of loginuser.friends){ 
                    if (dp.from_user.id != user.id){%>
                        <p>
                            <span> <img src="<%=dp.from_user.avatar%>" alt="<%=dp.from_user.name%>" width="50px"></span>  <a href="/users/profile/<%=dp.from_user.id%>"><%=dp.from_user.name%></a>
                          </p>
            <%}else{%>
                <p>
                    <span> <img src="<%=dp.to_user.avatar%>" alt="<%=dp.to_user.name%>" width="50px"></span>  <a href="/users/profile/<%=dp.to_user.id%>"><%=dp.to_user.name%></a>
                  </p>
            <%}}}%>

            
        </div>
      <div class="all-users">  <h4>All Users</h4>
        <% for (u of all_users) {%>
     
          
           
    <p>
      <span><img src="<%= u.avatar %>" alt="Img" ></span>  <a href="/users/profile/<%= u.id%>"><%= u.name %></a>
    </p>
            <%}%>
    </section>
    <%- include('_chat_box') -%>
</div>
            
    <%}%>

</div>

<script src="/js/home_post_comments.js"></script>
<script src="/js/home_posts.js"></script>


<script src="/js/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>
<%if(locals.user){%>
<script >
    new ChatEngine('user-chat-box','<%= locals.user.email%>')

</script>
<%}%>