<link rel="stylesheet" href="<%= assetPath('css/user_profile.css')%>">
<div class="profile_outer">


        <div class="cover_photo">
                <img src="<%=profile_user.cover_photo%>" alt="No Cover photo TO show">
        </div>
        <div class="info-box">
                <div class="profile-pic">
                        <img src="<%= profile_user.avatar%>" alt="<%= profile_user.name%>" >
                        <% if (user.id == profile_user.id) { %>
                        <button for=""><label for="profile-pic" class="btn"><i class="fas fa-camera"></i></label></button>
                        <%}%>
                 </div>
                <div class="username"><%=profile_user.name%>
                        <div class="friends"><div class="friend-dp">
                                <%if (profile_user.friends.length>0){ 
                                        for (dp of profile_user.friends){ 
                                                if (dp.from_user.id != profile_user.id){%>
                                        <img src="<%=dp.from_user.avatar%>" alt="<%=dp.name%>" width="50px">
                                        <%}else{%>

                                                <img src="<%=dp.to_user.avatar%>" alt="<%=dp.name%>" width="50px">
                                        <%}}}%>
                                        

                        </div><span><%=profile_user.friends.length%></span> Friends</div>
                </div>
               
        </div>
        <p>
                <!-- <img src="<%= user.avatar%>" alt="<%= user.name%>" width="100px"> -->
        </p>
       
       


  
<% if (user.id == profile_user.id) { %>
<!---if user matches show the update form-->


<form action="/users/update/<%= profile_user.id%>" enctype="multipart/form-data" method="post">
        <label for="name">Name :</label>
        <input type="text" name="name" id="" placeholder="Your name" value="<%= profile_user.name %>" required><br>
        <label for="email">Email :</label>
        <input type="text" name="email" id="" placeholder="Your name" value="<%= profile_user.email %>">
        <br>
       <input type="file" name="avatar" style="display:none"  id="profile-pic" placeholder="Profile Picture">
       <!-- <input type="file" name="cover_photo" placeholder="Cover Picture" id="Cover-Pic"> -->
        <input type="submit" value="Update">
</form>
<form action="/users/coverupdate/<%= profile_user.id%>" enctype="multipart/form-data" method="post">
        <label for="">Cover Photo</label>
        <input type="file" name="cover_photo" placeholder="cover Picture">
        <input type="submit" value="cover" id="">
</form>
<!-- 
<a href="/users/deactivate/<%=profile_user.id%>" id="deactivate">
        Deactivate Account
</a> -->
         
<%}else{if (friend){%>
 <div class="friend-request">
        <a class="remove-friend-button" href="/friends/remove/<%=friend%>">
                Remove Friend
        </a>         
 </div> 
<%}else{%>
        <div class="friend-request">
                <a class="add-friend-button"  href="/friends/add/<%=profile_user._id%>">
                        Add Friend 
                </a>  
        </div> 
        
<%}}%>
</div>

<script src="<%= assetPath('js/add_friends.js')%>"></script>

<script>
//         $(document).ready(function(){
//   $("#deactivate").click(function(){
//     alert("Your Account  to delete");
//   });
// });

</script>
